{% extends "stuparent.html" %}
{% block body %}
<div class="container mb-5 mt-3">
<h3 style="color: #8b0000;">Change Password   </h3>

<form method="post" class="p-4 rounded shadow bg-light w-75 mx-auto text-dark mt-4">
  {% if msg %}
<p style="text-align: center; color: #6642e7;">{{msg}}</p>
{% endif %}
    {% csrf_token %}
   <div class="mb-3">
    <label for="oldpassword" class="form-label">Enter Old Password</label>
    <input type="password" name="oldpassword" id="oldpassword" class="form-control" placeholder="Enter old password" required>
  </div>
   <div class="mb-3">
    <label for="newpassword" class="form-label">Enter New Password</label>
    <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="Enter new password" required>
  </div>
    <div class="mb-3">
    <label for="confirmpassword" class="form-label">Enter Confirm Password</label>
    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Enter Confirm password" required>
  </div>

    
 <div class="text-center">
    <button type="submit" class="btn btn-success me-2">Submit</button>
    <button type="reset" class="btn btn-danger">Clear</button>
  </div>

</form>




</div>
{% endblock body %}